<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotei.magicconch.clubspongebob.dao.ArticleDao">

    <insert id="insertArticle" parameterType="com.kotei.magicconch.clubspongebob.pojo.Article">
        INSERT INTO Article(catalog_id, admin_id, title, keywords, summary, content, pub_date, click)
        VALUES (#{catalog_id}, #{admin_id}, #{title}, #{keywords}, #{summary}, #{content}, #{pub_date}, #{click})
    </insert>

    <select id="getArticle" resultType="com.kotei.magicconch.clubspongebob.dto.ArticleViewDTO"
            parameterType="java.util.Map">
        SELECT Admin.admin_id,nickname,summary,click,content,head_img,pub_date,title,Article.article_id,name,comment_count
        FROM Article INNER JOIN Admin on Article.admin_id = Admin.admin_id
        INNER JOIN Catalog C on Article.catalog_id = C.catalog_id
        LEFT JOIN (
            SELECT article_id,count(*) AS comment_count FROM comment GROUP BY article_id
        ) AS D ON D.article_id = Article.article_id
        <where>
            <choose>
                <when test="admin_id != null">
                    AND Admin.admin_id = #{admin_id}
                </when>
                <when test="article_id != null">
                    AND Article.article_id = #{article_id}
                </when>
                <when test="catalog_id != null">
                    AND C.catalog_id=#{catalog_id}
                </when>
            </choose>
        </where>
        ORDER BY pub_date DESC
        <if test="limit != null">
            LIMIT limit
        </if>
    </select>

    <update id="clickAdd1">
        UPDATE Article
        SET click=click + 1
        WHERE article_id = #{article_id}
    </update>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM Article
        WHERE admin_id = #{admin_id}
    </select>

    <select id="search" resultType="com.kotei.magicconch.clubspongebob.dto.ArticleViewDTO">
        SELECT Admin.admin_id,
               nickname,
               summary,
               click,
               content,
               head_img,
               pub_date,
               title,
               article_id,
               name
        FROM Article
                 INNER JOIN Admin on Article.admin_id = Admin.admin_id
                 INNER JOIN Catalog C on Article.catalog_id = C.catalog_id
        WHERE title LIKE '%${keyword}%'
           OR keywords LIKE '%${keyword}%'
        ORDER BY pub_date DESC
    </select>
</mapper>