<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotei.magicconch.clubspongebob.dao.UserDao">
    <insert id="insertAdminByRegister" parameterType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        INSERT INTO Admin(admin_name, nickname, password) VALUES(#{admin_name},#{nickname},#{password})
    </insert>
    
    <select id="getAdminByAdminName" resultType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        SELECT * FROM Admin WHERE admin_name=#{admin_name}
    </select>

    <select id="getAllAdmin" resultType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        SELECT * FROM Admin
    </select>

    <update id="updateAdminByID" parameterType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        UPDATE Admin SET admin_name=#{admin_name},nickname=#{nickname},password=#{password} WHERE admin_id = #{admin_id}
    </update>

    <delete id="delAdminByID">
        DELETE FROM Admin WHERE admin_id=#{id}
    </delete>

    <select id="getAdminBySearch" resultType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        SELECT * FROM Admin WHERE admin_id like '%${keyword}%' OR admin_name LIKE '%${keyword}%' OR nickname LIKE '%${keyword}%'
    </select>
    <select id="getAdminById" resultType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        SELECT * FROM Admin WHERE admin_id = #{admin_id}
    </select>

</mapper>