<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotei.magicconch.clubspongebob.dao.UserDao">
    <insert id="insertAdminByRegister" parameterType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        INSERT INTO Admin(admin_name, nickname, password) VALUES(#{admin_name},#{nickname},#{password})
    </insert>
    
    <select id="getAdminByAdminName" resultType="com.kotei.magicconch.clubspongebob.pojo.Admin">
        SELECT * FROM Admin WHERE admin_name=#{admin_name}
    </select>

</mapper>