<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="post clearfix card " th:fragment="summary">
    <div class="user-block card-header">
        <img class="img-circle img-bordered-sm"
             th:src="${article.getHead_img()}" alt="User Image">
        <span class="username">
            <a th:href="${'/user/'+article.getAdmin_id()}" th:text="${article.getNickname()}"></a>
            <span style="margin-left: 30%;color: #b3aeb4" th:text="${article.getName()}"></span>
            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
        </span>
        <span class="description" th:text="${article.getTime()}"></span>
    </div>
    <!-- /.user-block -->
    <div class="card-body">
        <a th:href="${'/article/'+article.getArticle_id()}">
            <h3 th:text="${article.getTitle()}"></h3>
        </a>
        <p th:text="${article.getSummary()}">
        </p>
    </div>

    <div class="card-footer">
        <p>
            <i class="fas fa-eye mr-1"></i><span href="#" class="link-black text-sm mr-2"
                                                 th:text="${article.getClick()}"></span>
            <span class="float-right">
                <i class="far fa-comments mr-1"></i>
                <a href="#" class="link-black text-sm" th:text="${article.getComment_count()}"></a>
            </span>
        </p>
    </div>
</div>

<div class="post" th:fragment="content">
    <!-- /.user-block -->
    <h3 th:text="${article.getTitle()}" class="align-content-center"></h3>
    <p th:utext="${article.getContent()}">

    </p>
    <p>
        <i class="fas fa-eye mr-1"></i><a href="#" class="link-black text-sm mr-2" th:text="${article.getClick()}"></a>
        <span class="float-right">
            <i class="far fa-comments mr-1"></i>
            <a href="#" class="link-black text-sm" th:text="${article.getComment_count()}"></a>
        </span>
    </p>

    <form th:if="${session.user!=null}" class="form-horizontal" method="post" action="/article/comment">

        <div class="input-group input-group-sm mb-0">
            <input class="form-control form-control-sm" name="comm_content" placeholder="优质回答：我不知道">
            <input class="form-control form-control-sm" name="article_id" hidden="hidden"
                   th:value="${article.getArticle_id()}">

            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">评论</button>
            </div>
        </div>
    </form>
</div>

<div class="card-comment" th:fragment="comment">
    <!-- User image -->
    <img class="img-circle img-sm" th:src="${comment.getHead_img()}" alt="User Image">
    <div class="comment-text">
        <a th:href="${'/user/'+comment.getAdmin_id()}">
            <span class="username" th:text="${comment.getComm_nickname()}"></span>
        </a>
        <span class="text-muted float-right" th:text="${comment.getTime()}"></span>
        <p th:text="${comment.getComm_content()}"></p>
    </div>
    <!-- /.comment-text -->
</div>
<!-- /.card-comment -->
</body>
</html>