<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Profile Image -->
<div class="card card-primary card-outline" th:fragment="profileImage">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 th:src="${otherUser.getHead_img()}"
                 alt="User profile picture">
        </div>

        <a th:href="${'/user/'+otherUser.getAdmin_id()}">
            <h3 class="profile-username text-center" th:text="${otherUser.getNickname()}"></h3>

        </a>

        <p class="text-muted text-center">不知道写些什么</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>发表文章</b> <a class="float-right" th:text="${articleCount}"></a>
            </li>
            <li class="list-group-item">
                <b>评论</b> <a class="float-right" th:text="${commentCount}"></a>
            </li>
        </ul>

        <a href="#" class="btn btn-primary btn-block"><b>关注<small>不存在的</small></b></a>
    </div>
</div>
<!-- /.card -->
</body>
</html>